<body>

<app-target></app-target>

<app-header></app-header>
</body>

<style>

  body {
    /* Center the background image */
    background-color: black;
    background-image: url("../assets/background_spaceship.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    /* Set the height of the body to the viewport height */
    height: 95vh;

    /* Remove margin and padding to prevent any unwanted spacing */
    margin: -10px;
    padding: 0;

    /* Ensure that the body doesn't scroll */
    overflow: hidden;
  }
</style>
