<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">-->
<header>
  <div class="info">
    <div class="score">
      <span class="label">Score:</span>
      <span class="value">{{ scoreData.score }}</span>
    </div>
    <div class="spacer"></div> <!-- Prazdný <div> pro mezeru -->
    <div class="miss">
      <span class="label">Miss:</span>
      <span class="value">{{ scoreData.misses }}</span>
    </div>
  </div>

<!--  <div class="nickname">-->
<!--    <input type="text" [(ngModel)]="nickname" placeholder="Enter nickname" />-->
<!--  </div>-->

  <div class="buttons">
    <button (click)="reset()">Reset</button>
    <button type="button" class="btn btn-info btn-lg" (click)="showLeaderboard()">Leaderboard</button>
  </div>
</header>

<!-- Modal section -->
<!-- click outside modal ? -->
<!--<div class="modal-outside" (click)="onOutsideClick($event)"></div>-->
  <div id="myModal" class="modal" #myModal>
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" (click)="closeLeaderboard()">&times;</span>
      <h2>Leaderboard</h2>
      <table>
        <thead>
        <tr>
          <th>PlayerModel</th>
          <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <!-- Generování řádků s daty hráčů -->
        <!--      *ngFor="let <value> of <collection>"-->
        <tr *ngFor="let player of players">
          <td>{{ player.nickname }}</td>
          <td>{{ player.score }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
