.timer {
  float: right; /* Umištění vpravo */
  margin: 20px 20px 0 0; /* Vzdálenost od pravého okraje */
  font-size: 40px;
  font-weight: bold;
}

.time-left {
  color: #ff5733; /* Barva času */
}

/* Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Styl pro nadpisy v modálním okně */
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

/* Modifikace stylu pro info div */
.info {
  display: flex;
  justify-content: center; /* Zarovnání na střed */
  align-items: center;
  margin: 10px 0; /* Snížení mezery na 10px */
}

.score,
.miss {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 10px; /* Mezera mezi prvky "Score" a "Miss" */
  font-size: 30px;
}

.label {
  font-weight: bold;
}

/*.spacer {*/
/*  width: 20px; !* Prostor mezi score a miss *!*/
/*}*/

/* Styl pro vstupní pole pro nickname */
.nickname {
  margin-top: 20px;
  padding: 10px;
}

/* Styl pro tlačítko "Save" */
.save {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.save:hover {
  background-color: #45a049;
}


/* Styl pro zavření modálního okna na mobilních zařízeních */
@media screen and (max-width: 600px) {
  .close {
    font-size: 18px;
  }
}
