.timer {
  float: right; /* Umištění vpravo */
  margin: 20px 20px 0 0; /* Vzdálenost od pravého okraje */
  font-size: 24px;
  font-weight: bold;
}

.time-left {
  color: #ff5733; /* Barva času */
}
